aiogram==2.4
aiohttp==3.5.4
aiomongo==0.1
aioredis==1.2.0
async-timeout==3.0.1
attrs==19.1.0
Babel==2.7.0
certifi==2019.6.16
chardet==3.0.4
emoji==0.5.3
hiredis==1.0.0
idna==2.8
multidict==4.5.2
pymongo==3.4.0
pytz==2019.3
sentry-sdk==0.17.8
ujson==1.35
urllib3==1.25.10
uvloop==0.13.0
yarl==1.3.0
